*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-size: 1em; /*for paragraphs 16px=1em*/
}

.container {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
}

.container__card {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid black;
  border-radius: 20px;
  width: 384px;
  height: 522px;
}
