*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Figtree", sans-serif;
  font-size: 1em; /*for paragraphs 16px=1em*/
  display: grid;
  place-items: center;
  background-color: hsl(47, 88%, 63%);
}

/*background for whole page */
/* .container {
  display: grid;
  place-items: center;
} */
/*background for card */

.container__card {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid black;
  border-radius: 20px;
  width: 24em;
  min-height: 100%;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
  padding: 1.5em;
}

.container__card:hover {
  box-shadow: 16px 16px 0 0 rgba(0, 0, 0, 1);
  transition: box-shadow 0.7s ease, transform 0.7s ease; /* Smooth transition for hover effect */
}

.container__card-img img {
  border-radius: 10px;
}

.container__card-info {
  display: flex;
  flex-direction: column;
}

.container__card-info-category {
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 0.25em 0.75em;

  border-radius: 4px;

  font-weight: 800;
}

:hover.container__card-info-title {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
  font-weight: 800;
}

.container__card-info-img {
  width: 32px;
  height: 32px;
}

.container__card-info-description {
  color: hsl(0, 0%, 50%);
  line-height: 1.5em;
}

.container__card-info-avatar {
  display: flex;
  align-items: center;
}
.container__card-info-author {
  font-weight: 800;
  padding-left: 12px;
}

/* footer */
.attribution {
  background-color: hsl(47, 88%, 63%);
}

footer {
  text-align: center;
  font-size: 8px;
  position: fixed;
  bottom: 0;
}
